{% extends 'base.html' %}
{% block title %}Flask MakeITWork Project 1 Tryout{% endblock %}

{% block content %}
<section class="bg-gray-50">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"> <!-- md:h-screen -->
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
            <img class="w-12 h-12 mr-2" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
            Project 1 - Gezondheidszorg  
        </a>
        <div class="w-full bg-white rounded-lg shadow md:mt-0 xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <div class="flex items-center relative">
                    
                        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                            Lifespan prediction: {{prediction[0] | round(1)}} 
                        </h1>

                </div>
            </div>
            <div class="container mx-auto">
                Entered data:
                <div class="flex flex-row">
                    <div class="px-5">Genetic: {{ params['genetic']}}</div>
                    <div class="px-5">Weight: {{ params['mass']}}</div>
                    <div class="px-5">Length: {{ params['length']}}</div>
                    <div class="px-5">BMI: {{ params['bmi']}}</div>
                    <div class="px-5">Exercise: {{ params['exercise']}}</div>
                    <div class="px-5">Alcohol: {{ params['alcohol']}}</div>
                    <div class="px-5">Smoking: {{ params['smoking']}}</div>
                    <div class="px-5">Sugar: {{ params['sugar']}}</div>
                </div>
            </div>
            
        </div>
    </div>
  </section>
{% endblock %}